.profile-page{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:90vh;

    background:#f4f4f4;

}

.profile-card{

    width:500px;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 12px rgba(0,0,0,.2);

}

.profile-card h1{

    text-align:center;

    color:#8B0000;

    margin-bottom:25px;

}

.profile-card label{

    display:block;

    margin-top:15px;

    font-weight:bold;

}

.profile-card input,
.profile-card textarea{

    width:100%;

    padding:12px;

    margin-top:8px;

    border:1px solid #ccc;

    border-radius:5px;

}

.profile-card button{

    width:100%;

    margin-top:25px;

    padding:14px;

    border:none;

    background:#8B0000;

    color:white;

    font-size:17px;

    border-radius:5px;

}

.profile-card button:hover{

    background:#a00000;

}